* {
    margin: 0;
}


html, body {
    height: 100%;
    background-color: white;
    font-size: 9px;
    font-weight: bold;
    max-width: 100%;
    overflow-x: hidden;
}

.table-wrapper
{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    overflow: auto;
    margin: 15px;
    padding: 0px;
}

td
{
    width: 15px;
    height: 10px;
    background-color: #ccc;
}

#checkAllCheckbox{
    align: right;
}

#bckheading{
     background-color: #004d4d;
     color: white;
     margin: 0px;
     padding: 0px 0px 0px 4px;
     height: 25px;
}

table tr:nth-child(odd) td{
    background-color: #ccffff;
    padding: 4px 1px 0.5px 4px;
}
table tr:nth-child(even) td{
    background-color: #00b3b3;
    padding: 4px 1px 0.5px 4px;
}

#Apply{
    padding: 3% 10% 5% 20%;
}
#Clear{
    padding: 3% 20% 5% 10%;

}
#btns{
    margin: 2% 12% 2% 25%;
}

