<div ng-controller='dbController'>
	<div class="row">
		<div class="col-sm-6">
		  	<form id="frm" method="post">
			    <div class="row" id="btns">
			        <button type="button" class="btn btn-info" ng-click="setActive('Monthly')">Monthly</button>
			        <button type="button" class="btn btn-info" ng-click="setActive('Bi-Monthly')">Bi-Monthly</button>
			        <button type="button" class="btn btn-info" ng-click="setActive('Quaterly')">Quaterly</button>
		    	</div>
		  		<div class="row">
		  			<div class="col-md-6">
					  	<div class ="table-wrapper">
						  <h5 id="bckheading">Country <input type="checkbox" id="checkAllCheckbox" 
						         ng-model="selectAllCountry" 
						         ng-click="checkAllCountry()" /></h5>
						  <table class="table">
						    <tr ng-repeat="d in dbCountries | filter:search">
						      <td>{{d.countryName}}</td>
						      <td>
						        <input type="checkbox" class="dbDataCountry" ng-model="d.select">
						      </td>
						    </tr>
						  </table>
						</div>
					</div>
					<div class="col-md-6">
						<div class ="table-wrapper">
						  <h5 id="bckheading">Region <input type="checkbox" id="checkAllCheckbox" 
						         ng-model="selectAllRegion" 
						         ng-click="checkAllRegion()" /></h5>
						  <table class="table">
						    <tr ng-repeat="re in dbRegion | filter:search">
						      <td>{{re.continent}}</td>
						      <td>
						        <input type="checkbox" class="dbDataRegion" ng-model="re.select" ng-change="regionCheckboxChanged()">
						      </td>
						    </tr>
						  </table>
						</div>
					</div>
				</div>
		  		<div class="row">
					<div class="col-md-6">
						<div class ="table-wrapper">
						  <h5 id="bckheading">Fruits <input type="checkbox" id="checkAllCheckbox" 
						         ng-model="selectAllFruit" 
						         ng-click="checkAllFruit()" /></h5>
						  <table class="table">
						    <tr ng-repeat="f in dbFruit | filter:search">
						      <td>{{f.fruitName}}</td>
						      <td>
						        <input type="checkbox" class="dbDataFruit" ng-model="f.select">
						      </td>
						    </tr>
						  </table>
						</div>
					</div>
					<div class="col-md-6">
						<div class ="table-wrapper">
						  <h5 id="bckheading">Fruit Classification <input type="checkbox" id="checkAllCheckbox" 
						         ng-model="selectAllFruitCls"
						         ng-click="checkAllFruitCls()" /></h5>
						  <table class="table">
						    <tr ng-repeat="fc in dbFruitCls | filter:search">
						      <td>{{fc.fruitClassification}}</td>
						      <td>
						        <input type="checkbox" class="dbDataFruitCls" ng-model="fc.select" ng-change="fruitCheckboxChanged()">
						      </td>
						    </tr>
						  </table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6" id="Apply">
						<button type="button" class="btn btn-info" ng-click="checkSelected()">Apply Filter</button>
					</div>
					<div class="col-sm-6"  id="Clear">
						<button type="button" class="btn btn-info" ng-click="unCheckAll()">Clear Filter</button>	
					</div>
				</div>
			</form>
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div ng-repeat="char in chartlist" class="row">
	       			<highchart id="chart1" config="chartConfig" class="span10"></highchart>  
	       		</div> 
		    </div>
		    <div class="row">
	       	  	<div ng-repeat="charts in chartlist2" class="row">
	       			<highchart id="chart2" config="chartConfig2" class="span10"></highchart>  
	       		</div> 
	       	</div>      
		</div>
	</div>
</div>